
.fp-tableCell{
    
    margin:0 auto;
    position: relative;
}
h1{
    text-align: center;
}
	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;    
        
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
	
		
		display:block;
		width: 100%;
		background: #333;
		z-index:100;
		text-align:center;
		/*color: #f2f2f2;*/
		
	}

	#header{
		top:0px;
        height: 50px;
        position:fixed;
        padding: 20px 0 0 0;
	}
	#footer{
    /*margin-top: 20px;*/
		bottom:0px;
        
        height: 80px;    
    
	}
.f-text{
  padding-top: 20px;
  padding-bottom: 20px;
    margin: 0 auto;
    position: relative;
    color: white;
    text-align: center;
    padding-right: 40px;
}


.logo a{
    display: inline-block;
    width: 250px;
    height: 45px;
    left:20px;
   
    overflow: hidden;
   
}


.logo{
    
    float: left;
    top: -30px;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}
#menu{
    float:right;
    right: 0;
    position: fixed;
    
    
}
#menu li {
    
    float:left;
   display: inline-block;
   text-decoration: none;
    padding: 3px 10px;

}

